<!-- Education Section -->
    <section id="education">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Formazione Universitaria</h2>
                    <h3 class="section-subheading text-muted">Dové ho imparato a raggionare, esprimermi e convincere.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                          <div class="timeline-image">
                            <h4><br>In corso<br></h4>
                          </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Scienze Politiche</h4>
                                    <h4 class="subheading"><small>INDIRIZZO:</small> Relazioni internazionali</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Laurea Triennale</p>
                                    <p class="text-muted">Università degli Studi Roma Tre</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                              <h4><br>2012<br></h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Filosofia</h4>
                                    <h4 class="subheading"><small>VOTO:</small> <i>110 cum laude</i></h4>
                                </div>
                                <div class="timeline-body">
                                  <p class="text-muted">Laurea Magistrale</p>
                                  <p class="text-muted">Università degli Studi Roma Tre</p>
                                </div>
                            </div>
                        </li>
                        <li>
                          <div class="timeline-image">
                            <h4><br>2009<br></h4>
                          </div>
                          <div class="timeline-panel">
                              <div class="timeline-heading">
                                  <h4>Filosofia</h4>
                                  <h4 class="subheading"><small>VOTO:</small> <i>110 cum laude</i></h4>
                              </div>
                              <div class="timeline-body">
                                <p class="text-muted">Laurea Triennale</p>
                                <p class="text-muted">Università degli Studi Roma Tre</p>
                              </div>
                          </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
