<!-- Languages Section -->
    <section id="languages">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Lingue</h2>
                    <h3 class="section-subheading text-muted">Lingue che uso quotidianamente.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Francese</h4>
                    <p class="text-muted">letto-scritto-parlato: <b>eccellente</b> - TCF : livello europeo C2</p>
                    <p class="text-muted">rilasciato da Institut Français - Centre Saint-Louis, Roma</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Inglese</h4>
                    <p class="text-muted">letto-scritto-parlato: <b>ottimo</b> - IELTS : livello europeo C1</p>
                    <p class="text-muted">rilasciato da British Council, Roma</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Italiano</h4>
                    <p class="text-muted"><b>Madrelingua</b></p>
                </div>
            </div>
        </div>
    </section>
