<section id="mailme">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Ha una proposta di lavoro?</h2>
                    <h3 class="section-subheading text-muted">Vorebbe propormi un colloquio?</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                  <a href="mailto:flaviacercalavoro@gmail.com" class="btn btn-xl">Mail me</a>
                  <h3 class="section-subheading text-muted">La ricontatto subito.</h3>
                </div>
            </div>
        </div>
    </section>
